.CardGroupContainer {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    margin-top: 20px;
    width: 80%;
  }
}

// tablet: 768px
@media only screen and (min-width: 768px) {
  .CardGroupContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
      width: 40%;
    }
  }
}

// medium: 1024px
@media only screen and (min-width: 1024px) {
  .CardGroupContainer {
    .card {
      width: 30%;
    }
  }
}
