.searchBar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 20px;
  margin-right: 20px;
  width: 20%;

  input {
    text-align: center;
    border: none;
    border-bottom: 1px solid #8d7c4a;
    padding: 5px;
    outline: none;
    font-size: 18px;
    color: #8d7c4a;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
